/*.ini
/*.mdl
/best_*
/logs
/simulationSnapshot*txt
src/Scenario_large_2012
src/Scenario_latest
src/Scenario_latest_2012
src/Scenario_med_caller
src/Scenario_medium_2012
src/Scenario_medium_old
src/example
src/generated
src/gov/nasa/jpl/ae/magicdrawPlugin/*.mdr
src/gov/nasa/jpl/ae/magicdrawPlugin/*.mdzip
src/gov/nasa/jpl/ae/magicdrawPlugin/unusedPlot
src/gov/nasa/jpl/ae/xml/Scenario_XML_201*.xml
src/latester
bin
*.pyc
*~
/AE.jar
target
/output/
